---
title: Home
heading: 'yaoib'
lead: yet another obligatory IT blog - a place to stash the tidbits...
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>
  {{ lead }}
  </p>
  <br>
  <p><a href="/blog/" class="btn btn-primary btn-lg" role="button">willkommen &raquo;</a></p>
</div>
