//
// Theme Styles
// --------------------------------------------------

// Theme variables
@import "variables.less";

// Bootstrap components
// --------------------------------
@import "bootstrap.less";


// Docs Components
// --------------------------------

//@import "ad.less";
//@import "banner.less";
//@import "header.less";
@import "sidebar.less";
//@import "main-nav.less";
//@import "footer.less";

body {
  //padding-top: 0;
  padding-top: @body-padding;
}

/**
 * Neutralize background color to allow our
 * syntax highlighter theme to do the work.
 */
pre code {
  background: transparent;
}
pre {
  background-color: #f8f8f8;
  margin: 20px 0 20px 5px;
  border: 1px solid #eee;
  border-radius: 0;
}

/**
 * Add some padding an margins to tables
 */

@table-grid-padding: 10px;

table {
  margin-bottom: (2 * @table-grid-padding);
}

td {
  padding: 0 @table-grid-padding (@table-grid-padding / 2) 0;
}

h1 {
/*  font-family: "AlteDIN1451MittelschriftRegular" */
 font-family: "PilsenPlakatRegular"
}

#logo {
 color: #2c3e50;
 font-size: xx-large;
}

footer {
	padding: 3px 0 2px 0;
  position: absolute;
	bottom:0;
	width:100%;
	height:30px;
	text-align: left;
}

@font-face {
    font-family: 'ErikaOrmigRegular';
    src: url('/fonts/erikaormig/erikaormig.eot');
    src: url('/fonts/erikaormig/erikaormig.eot') format('embedded-opentype'),
         url('/fonts/erikaormig/erikaormig.woff2') format('woff2'),
         url('/fonts/erikaormig/erikaormig.woff') format('woff'),
         url('/fonts/erikaormig/erikaormig.ttf') format('truetype'),
         url('/fonts/erikaormig/erikaormig.svg#ErikaOrmigRegular') format('svg');
}

@font-face {
    font-family: 'AlteDIN1451MittelschriftRegular';
    src: url('/fonts/alte-din-1451-mittelschrift/din1451alt.eot');
    src: url('/fonts/alte-din-1451-mittelschrift/din1451alt.eot') format('embedded-opentype'),
         url('/fonts/alte-din-1451-mittelschrift/din1451alt.woff2') format('woff2'),
         url('/fonts/alte-din-1451-mittelschrift/din1451alt.woff') format('woff'),
         url('/fonts/alte-din-1451-mittelschrift/din1451alt.ttf') format('truetype'),
         url('/fonts/alte-din-1451-mittelschrift/din1451alt.svg#AlteDIN1451MittelschriftRegular') format('svg');
}

@font-face {
    font-family: 'FabrikNormal';
    src: url('/fonts/fabrik/fabrik.eot');
    src: url('/fonts/fabrik/fabrik.eot') format('embedded-opentype'),
         url('/fonts/fabrik/fabrik.woff2') format('woff2'),
         url('/fonts/fabrik/fabrik.woff') format('woff'),
         url('/fonts/fabrik/fabrik.ttf') format('truetype'),
         url('/fonts/fabrik/fabrik.svg#FabrikNormal') format('svg');
}

@font-face {
    font-family: 'EricaTypeRegular';
    src: url('/fonts/erikatype/erikatype.eot');
    src: url('/fonts/erikatype/erikatype.eot') format('embedded-opentype'),
         url('/fonts/erikatype/erikatype.woff2') format('woff2'),
         url('/fonts/erikatype/erikatype.woff') format('woff'),
         url('/fonts/erikatype/erikatype.ttf') format('truetype'),
         url('/fonts/erikatype/erikatype.svg#EricaTypeRegular') format('svg');
}

@font-face {
    font-family: 'PilsenPlakatRegular';
    src: url('/fonts/pilsen-plakat/pilsenplakat.eot');
    src: url('/fonts/pilsen-plakat/pilsenplakat.eot') format('embedded-opentype'),
         url('/fonts/pilsen-plakat/pilsenplakat.woff2') format('woff2'),
         url('/fonts/pilsen-plakat/pilsenplakat.woff') format('woff'),
         url('/fonts/pilsen-plakat/pilsenplakat.ttf') format('truetype'),
         url('/fonts/pilsen-plakat/pilsenplakat.svg#PilsenPlakatRegular') format('svg');
}

@font-face {
    font-family: 'kaufhalleRegular';
    src: url('/fonts/kaufhalle/kaufhalle.eot');
    src: url('/fonts/kaufhalle/kaufhalle.eot') format('embedded-opentype'),
         url('/fonts/kaufhalle/kaufhalle.woff2') format('woff2'),
         url('/fonts/kaufhalle/kaufhalle.woff') format('woff'),
         url('/fonts/kaufhalle/kaufhalle.ttf') format('truetype'),
         url('/fonts/kaufhalle/kaufhalle.svg#kaufhalleRegular') format('svg');
}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('/fonts/clearsans/ClearSans-Thin-webfont.eot');
    src: url('/fonts/clearsans/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/clearsans/ClearSans-Thin-webfont.woff') format('woff'),
         url('/fonts/clearsans/ClearSans-Thin-webfont.ttf') format('truetype'),
         url('/fonts/clearsans/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'clear_sansbold';
    src: url('/fonts/clearsans/ClearSans-Bold-webfont.eot');
    src: url('/fonts/clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/clearsans/ClearSans-Bold-webfont.woff') format('woff'),
         url('/fonts/clearsans/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('/fonts/clearsans/ClearSans-Light-webfont.eot');
    src: url('/fonts/clearsans/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/clearsans/ClearSans-Light-webfont.woff') format('woff'),
         url('/fonts/clearsans/ClearSans-Light-webfont.ttf') format('truetype'),
         url('/fonts/clearsans/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

