---
title: Blog
layout: default.hbs
slug: blog
---

  <div class="docs-section">
    <h1>we have posts</h1>
    <div class="section-content">

<hr>

    <img src="/img/evil_eye.svg" width="200" height="200">

    </div>
  </div>

